/*
 * Small devices - Tablets (≥768px)
*/
@media (max-width: 991px) {
   #send-to-calendar{
    left: 36px;
}
}

/*
 * Extra small devices - Phones (<768px)
*/
@media (max-width: 767px) {
    .landing .box {
        padding: 5px 25px 0 70px;
    }

#send-to-calendar{
    left: 22px;
}
}

   


@media only screen and (max-width: 500px) {

	
	
}